<%= form_for([:admins, post], local: true, html:{ class: 'form-post' }) do |form| %>
  <div class="field">
    <h5><%= form.label :title %></h5>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <h5><%= form.label :content %></h5>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
