<p id="notice"><%= notice %></p>

<% if can? :edit, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<div class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta">
    <%= @post.created_at.strftime('%B %d, %Y') %> by
    <a href="#"><%= @post.user.name %></a>
  </p>

  <p><%= @post.content %></p>
</div>